doctype html
html
    head
        title Ma liste de produits
        link(rel='stylesheet', href='/index.css')

    body
        header
            h1 Liste :

        main
            block content

        footer
            p Copyright © Web IA 2024
